.business-part-wrap li {
  text-align: center;
  max-width: 800px;
}

.business-part-wrap li > h2 {
  margin: 60px 0 24px;
  font-size: 28px;
  font-weight: 500;
}

.business-part-wrap li > p {
  line-height: 1.6;
  text-align: left;
  margin-bottom: 12px;
}

.business-part-wrap li > p.hj-text-under {
  text-decoration: underline;
}

.business-part-wrap li > p.hj-text-under > strong {
  font-weight: 600;
}

.business-part-wrap li .hj-business-sub-title {
  font-size: 24px;
  margin: 24px 0;
}

.business-part-wrap li > img {
  display: inline-block;
  width: 100%;
  margin-bottom: 16px;
}

.business-part-wrap li .hj-submit-button {
  max-width: 350px;
  margin: 24px 0;
}

.business-part-wrap li .align-center {
  text-align: center;
}

.business-part-01-wrap .business-part-01 {
  height: 8000px;
}

.business-part-01-wrap .business-part-01-button-01 {
  height: 9400px;
}

.business-part-01-wrap .business-part-01-button-02 {
  height: 4000px;
}

.business-part-01-wrap .business-part-01-button-05 {
    padding-top: 62px;
    height: 1300px;
}

/* tablet */
@media screen and (max-width: 1200px) {
    
}

/* mobile */
@media screen and (max-width: 768px) {
  .business-part-wrap li {
    margin-bottom: 34px;
  }

  .business-part-wrap li:last-of-type {
    margin: 0;
  }

  .business-part-wrap li > h2 {
    font-size: 24px;
    margin: 0 0 80px;
  }

  .business-part-wrap li .hj-business-sub-title {
    font-size: 18px;
    margin: 12px 0;
  }

  .business-part-01-wrap .business-part-01,
  .business-part-01-wrap .business-part-01-button-01,
  .business-part-01-wrap .business-part-01-button-02,
  .business-part-01-wrap .business-part-01-button-05 {
    height: auto;
  }

  .business-part-wrap li > p {
    font-size: 14px;
  }
}