.cintiq-pro-27 {
    width: 100%;
    height: 811px;
    background-image: url("../../../images/products/dth-271/Wacom Cintiq Pro 27 FRONT VIEW.jpg");
  }
  
  .cintiq-pro-27-button-01 {
    width: 890px;
  }
  
  .cintiq-pro-27-button-02 {
    width: 890px;
  }
  .cintiq-pro-27-button-03 {
    background-color: #fff;
    width: 100%;
    text-align: center;
    padding-top: 100px;
  }
  /* .cintiq-pro-27-button-04 {
    background-image: url("../../../images/products/one-by-wacom/button-04.jpg");
    width: 100%;
    height: 811px;
  }
  .cintiq-pro-27-button-05 {
    width: 100%;
    height: 811px;
    background-image: url("../../../images/products/one-by-wacom/button-05.jpg");
  } */
  