.cintiq-pro {
  width: 100%;
  height: 811px;
  background-image: url("../../../images/products/cintiq-pro/wacom cintiq pro 32 - g5.jpg");
}

.cintiq-pro-button-01 {
  width: 890px;
}

.cintiq-pro-button-02 {
  width: 890px;
}
.cintiq-pro-button-03 {
  width: 890px;
}
.cintiq-pro-button-04 {
  background-color: #fff;
  width: 100%;
  text-align: center;
  padding-top: 100px;
  height: 800px;
}
.cintiq-pro-button-05 {
  width: 100%;
  height: 811px;
}
