.cintiq-pro-family {
    margin-top: 32px;
    width: 100%;
    height: 500px;
    background-image: url("../../../images/products/cintiq-pro-family/cintiq-pro-family.jpg");
  }
  
  .cintiq-pro-family-button-01 {
    padding-top: 32px;
    width: 890px;
  }
  
  .cintiq-pro-family-button-02 {
    padding-top: 32px;
    width: 890px;
  }
  .cintiq-pro-family-button-03 {
    padding-top: 32px;
    width: 890px;
  }
  .cintiq-pro-family-button-04 {
    background-color: #fff;
    width: 100%;
    text-align: center;
    padding-top: 100px;
    height: 1600px;
  }
  .cintiq-pro-family-button-05 {
    width: 100%;
    height: 811px;
  }
  