.dtc-133 {
  background-image: url("../../../images/products/dtc-133/wacom-one_g1.jpg");
  width: 100%;
  height: 811px;
}

.dtc-133-button-01 {
  width: 890px;
}

.dtc-133-button-02 {
  background-image: url("../../../images/products/dtc-133/button-02.jpg");
  width: 100%;
  height: 811px;
}
.dtc-133-button-03 {
  background-color: #fff;
  width: 100%;
  text-align: center;
  padding-top: 100px;
}
.dtc-133-button-04 {
  background-image: url("../../../images/products/dtc-133/button-04.jpg");
  width: 100%;
  height: 811px;
}
.dtc-133-button-05 {
  width: 100%;
  height: 811px;
  background-image: url("../../../images/products/dtc-133/button-05.jpg");
}
