.dtc-133 {
  background-image: url("../../../images/products/dtc-133/wacom-one_g1.jpg");
  width: 100%;
  height: 811px;
}

.dtc-133-button-01 {
  width: 890px;
}

.dtc-133-button-02 {
  width: 100%;
  padding-top: 36px;
  text-align: center;
}

.dtc-133-button-02 img {
  max-width: 800px;
}

.dtc-133-button-02 .hj-submit-button {
  max-width: 300px;
  height: 60px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  padding: 0;
}

.dtc-133-button-02 .hj-submit-button a {
  display: inline-flex;
  width: 100%;
  height: 100%;
  line-height: 1;
  align-items: center;
  justify-content: center;
}

.dtc-133-button-02 .hj-submit-button:nth-of-type(1) {
  bottom: 70px;
}

.dtc-133-button-03 {
  background-color: #fff;
  width: 100%;
  text-align: center;
  padding-top: 100px;
}
.dtc-133-button-04 {
  width: 100%;
  height: 811px;
}
.dtc-133-button-05 {
  width: 100%;
  height: 811px;
}
