.one-by-wacom {
  background-image: url("../../../images/products/one-by-wacom/one-by-wacom-g5.jpg");
  width: 100%;
  height: 811px;
}

.one-by-wacom-button-01 {
  width: 890px;
}

.one-by-wacom-button-02 {
  padding-top: 32px;
  text-align: center;
  width: 100%;
  height: 600px;
}
.one-by-wacom-button-03 {
  background-color: #fff;
  width: 100%;
  text-align: center;
  padding-top: 100px;
}
.one-by-wacom-button-04 {
  background-image: url("../../../images/products/one-by-wacom/button-04.jpg");
  width: 100%;
  height: 811px;
}
.one-by-wacom-button-05 {
  width: 100%;
  height: 811px;
  background-image: url("../../../images/products/one-by-wacom/button-05.jpg");
}
