#hjHeaderWrap {
    position: fixed;
    z-index: 10;
    display: block;
    background-color: #fff;
    color: #333;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    transition: all .2s ease-in-out;
    overflow: hidden;
    border-bottom: 1px solid #e1e1e1;
    padding: 0 16px;
}

#hjHeaderWrap.scroll-move {
    box-shadow: 0px -3px 10px rgba(0,0,0,0.8);
}

#hjHeaderWrap.hj-spread {
    height: 230px;
}

/* #hjHeaderWrap.hj-spread > nav {
    box-shadow: 0 -1px 0 0 #d4d4d4 inset;
} */

#hjHeaderWrap .second-depth a {
    color: #777;
}
#hjHeaderWrap .second-depth a:hover {
    color: #222;
}

#hjHeaderWrap > nav {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 60px;
    max-width: 1600px;
    box-shadow: 0 -1px 0 0 transparent inset;
    transition: all .2s ease-in-out;
}

#hjHeaderWrap > nav .hj-company-logo {
    display: inline-block;
    width: 58px;
    height: 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/images/commons/company_logo.png");
}

#hjHeaderWrap > nav .hj-company-logo span {
    position: absolute;
    left: -999999px;
    opacity: 0;
    visibility: hidden;
}

#hjHeaderWrap .hj-nav-wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#hjHeaderWrap .hj-nav-wrap .hj-logo-text {
    display: none;
}

#hjHeaderWrap > nav .hamburger {
    display: none;
}

#hjHeaderWrap .hj-nav-wrap .hj-reactive-menu-wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-left: 60px;
}

#hjHeaderWrap .hj-nav-wrap .hj-nav-list {
    position: relative;
    width: 170px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    text-align: left;
    color: #777;
    transition: all .2s ease-in-out;
}

#hjHeaderWrap .hj-nav-wrap .hj-nav-list:hover {
    color: #222;
}

#hjHeaderWrap .hj-nav-wrap .hj-nav-list .hj-fold-icon {
    display: none;
}

#hjHeaderWrap .hj-nav-wrap .hj-reactive-nav > .hj-nav-list::after {
    content: "";
    position: absolute;
    bottom: 0;
    /* left: 50%; */
    left: 0;
    height: 2px;
    width: 0;
    transition: all .2s ease-in-out;
    /* background-color: #2b478b; */
    background-color: #fff;
    /* transform: translateX(-50%); */
}

#hjHeaderWrap.hj-spread .hj-nav-wrap .hj-reactive-nav > .hj-nav-list.current::after {
    width: 100%;
}

#hjHeaderWrap .hj-nav-wrap .hj-nav-list > span {
    display: inline-block;
    padding: 0 10px;
}

#hjHeaderWrap .hj-nav-wrap .hj-nav-list.second-depth a {
    display: block;
    padding: 0 10px;
    width: 100%;
    height: 100%;
    text-align: left;
}

/* #hjHeaderWrap .hj-nav-wrap .hj-nav-list.first-depth a {
    display: inline-block;
} */

#hjHeaderWrap .hj-nav-wrap .hj-nav-list.second-depth {
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    height: auto;
    padding: 0;
    transition: all .2s ease-in-out;
    line-height: 40px;
    font-size: 14px;
    color: #222;
}

#hjHeaderWrap .hj-nav-wrap .hj-nav-list.second-depth li {
    height: 40px;
    text-align: center;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

#hjHeaderWrap .hj-nav-wrap .hj-nav-list.second-depth li a:hover {
    text-decoration: underline;
}

#hjHeaderWrap .hj-nav-wrap .hj-nav-list:hover > .second-depth {
    opacity: 1;
    visibility: visible;
}

/* tablet */
@media screen and (max-width: 1200px) {
    #hjHeaderWrap {
        font-size: 14px;
    }

    #hjHeaderWrap .hj-nav-wrap .hj-nav-list {
        width: 110px;
    }
}

/* mobile */
@media screen and (max-width: 782px) {
    #hjHeaderWrap {
        padding: 0 8px;
    }

    #hjHeaderWrap.scroll-move {
        box-shadow: none;
    }
    
    #hjHeaderWrap.hj-spread {
        height: 100%;
    }

    #hjHeaderWrap > nav .hj-company-logo {
        display: none;
    }

    #hjHeaderWrap > nav .hamburger {
        display: inline-block;
    }

    #hjHeaderWrap .hj-nav-wrap .hj-logo-text {
        display: block;
        font-size: 20px;
        font-family: 'Alata', sans-serif;
        font-weight: bold;
        background-image: url(../..//images/commons/underline.png);
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;
        padding: 4px 0;
    }

    #hjHeaderWrap .hj-nav-wrap .hj-nav-list {
        width: 100%;
        height: 50px;
        overflow: hidden;
        transition: all .2s ease-in-out;
    }

    #hjHeaderWrap .hj-nav-wrap .hj-nav-list.is-show {
        height: auto;
        overflow: auto;
    }

    #hjHeaderWrap .hj-nav-wrap .hj-nav-list > span {
        display: block;
        line-height: 50px;
        padding: 0 8px;
    }

    #hjHeaderWrap .hj-nav-wrap .hj-nav-list > span > a {
        display: block;
    }

    #hjHeaderWrap .hj-nav-wrap .hj-nav-list .hj-fold-icon {
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        width: 50px;
        height: 50px;
        background-image: url(../../images/icons/angle-down-arrow.png);
        background-size: 24px;
        background-position: center;
        background-repeat: no-repeat;
        transition: all .2s ease-in-out;
    }

    #hjHeaderWrap .hj-nav-wrap .hj-nav-list .hj-fold-icon.is-active {
        transform: rotate(180deg);
    }

    #hjHeaderWrap .hj-nav-wrap .hj-reactive-menu-wrap {
        position: absolute;
        top: 60px;
        left: 0;
        padding-left: 0;
        flex-direction: column;
        align-items: flex-start;
        border-top: 1px solid #e1e1e1;
    }

    #hjHeaderWrap .hj-nav-wrap .hj-nav-list.second-depth {
        position: relative;
        top: 0;
        width: 100%;
        height: auto;
        line-height: 40px;
        font-size: 12px;
        color: #222;
    }
}