.hj-form-list-wrap {
    display: inline-block;
    text-align: center;
    max-width: 1600px;
    padding-top: 74px;
    padding-bottom: 74px;
}

.hj-form-list-wrap .hj-form-text {
    font-size: 22px;
    text-align: left;
}

.hj-form-list-wrap .hj-form-text .hj-promotion-title-image-1 {
    display: inline-block;
    width: 100%;
    height: 400px;
    background-color: gold;
}

.hj-form-list-wrap .hj-form-main-wrap {
    display: inline-block;
    width: 900px;
}

.hj-form-list-wrap .hj-form-main-wrap .hj-checklist-wrap  h2 {
    text-align: left;
    font-size: 32px;
    padding: 24px 0 24px 0;
}

.hj-form-list-wrap .hj-form-main-wrap .hj-checklist-wrap .hj-form-wrap {
    text-align: left;
}

.hj-form-list-wrap .hj-form-main-wrap .hj-checklist-wrap
.hj-form-flex-wrap {
    display: flex;
}

.hj-form-list-wrap .hj-form-main-wrap .hj-checklist-wrap
.hj-form-flex-wrap .hj-systems-form-image-1 {
    min-width: 45%;
    height: 400px;
    background-image: url('/images/business-part/common/business_people.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hj-form-list-wrap .hj-form-main-wrap .hj-checklist-wrap .hj-form-wrap
.hj-form-label-style {
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
}

.hj-form-list-wrap .hj-form-main-wrap .hj-checklist-wrap .hj-form-wrap
.hj-form-label-style .hj-form-label-title {
    width: 25%;
    display: inline-block;
}

.hj-form-submit-button {
    width: 200px;
    height: 50px;
    border-radius: 25px;
  }
  
  .hj-form-list-wrap .hj-form-main-wrap .hj-checklist-wrap .hj-form-wrap
  .hj-form-label-style.button-box {
    margin-top:20px;
    margin-bottom: 20px;
    text-align: center;
  }

  .hj-terms-link {
    color: rgb(0, 145, 255);
    text-decoration: underline;
  }

/* 요청서 디자인영역 */
.hj-form-list-wrap .hj-form-main-wrap .hj-checklist-wrap .hj-form-normal-wrap {
    display: inline-block;
    width: 100%;
}
.hj-form-list-wrap .hj-form-main-wrap .hj-checklist-wrap 
.hj-form-normal-wrap .hj-form-normal-label {
    display: flex;
}
.hj-form-list-wrap .hj-form-main-wrap .hj-checklist-wrap 
.hj-form-normal-wrap .hj-normal-form-input {
    width: 75%;
    border: 0px solid;
    border-bottom: 1px solid #333;
}
.hj-form-list-wrap .hj-form-main-wrap .hj-checklist-wrap 
.hj-form-normal-wrap .hj-normal-checklist {
    margin-left: 8px;
}

.hj-form-list-wrap .hj-form-main-wrap .hj-checklist-wrap 
.hj-form-normal-wrap .hj-promotion-warn {

}

.hj-form-list-wrap .hj-form-main-wrap .hj-checklist-wrap 
.hj-form-normal-wrap .hj-promotion-warn ol {
    list-style: inherit;
}

.hj-form-list-wrap .hj-form-main-wrap .hj-checklist-wrap 
.hj-form-normal-wrap .hj-promotion-warn ol li {
    margin-bottom: 16px;
}
/* 요청서 디자인영역 */