.hj-company-history-wrap {
  width: 100%;
  min-height: 100%;
  text-align: center;
}

.hj-company-history-wrap > h2 {
  display: inline-block;
  font-size: 34px;
  font-weight: 500;
  padding-bottom: 12px;
  border-bottom: 2px solid #2b478b;
  margin: 100px 0;
}

.hj-company-history-wrap > article {
  width: 100%;
  display: inline-block;
  margin-bottom: 100px;
}

.hj-company-history-wrap .hj-history-list {
  position: relative;
  width: 100%;
  max-width: 1600px;
  display: inline-block;
}

.hj-company-history-wrap .hj-history-list::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  background-color: #ccc;
}

.hj-company-history-wrap .hj-history-list li {
  position: relative;
  text-align: right;
  width: 50%;
  position: relative;
  padding-right: 36px;
}

.hj-company-history-wrap .hj-history-list li::after {
  content: "";
  position: absolute;
  right: -8px;
  top: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #2b478b;
  z-index: 1;
  background-color: #fff;
}

.hj-company-history-wrap .hj-history-list li:nth-of-type(2n) {
  text-align: left;
  left: 50%;
  padding-right: 0;
  padding-left: 36px;
}

.hj-company-history-wrap .hj-history-list li:nth-of-type(2n)::after {
  content: "";
  left: -6px;
}

.hj-company-history-wrap .hj-history-list li > h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 18px;
}

.hj-company-history-wrap .hj-history-list li > h3 {
  font-weight: 500;
}

/* tablet */
@media screen and (max-width: 1200px) {
    
}

/* mobile */
@media screen and (max-width: 768px) {
  .hj-company-history-wrap {
    padding: 60px 8px 200px;
  }

  .hj-company-history-wrap > h2 {
    font-size: 24px;
    margin: 60px 0;
  }
  
  .hj-company-history-wrap .hj-history-list li > h3 {
    font-size: 18px;
    margin-bottom: 14px;
  }
  .hj-company-history-wrap .hj-history-list li > p {
    font-size: 14px;
  }
}