.hj-login-wrap {
  width: 100%;
  min-height: 100%;
  text-align: center;
}

.hj-login-wrap > h2 {
  display: inline-block;
  font-size: 34px;
  font-weight: 500;
  padding-bottom: 12px;
  border-bottom: 2px solid #2b478b;
  margin: 100px 0;
}

.hj-login-wrap > .hj-login {
  display: block;
  width: 100%;
  text-align: center;
}

.hj-login-wrap > .hj-login > form {
  display: inline-block;
  width: 100%;
  max-width: 300px;
}

.hj-login-wrap > .hj-login > form label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-align: left;
  margin-bottom: 24px;
}

.hj-login-wrap > .hj-login > form > label > span {
  font-size: 20px;
  margin-right: 12px;
}

.hj-login-wrap > .hj-login > form > label > input {
  padding: 12px 0 12px 8px;
  border-radius: 0;
  border: 1px solid #ccc;
}

.hj-login-wrap > .hj-login > form button[type="submit"] {
  width: 100%;
  padding: 12px 0;
}

.hj-login-wrap > .hj-login > form button[type="submit"] span {
  display: block;
  width: 100%;
  background-color: #000;
  color: #fff;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: 1px solid #fff;
  line-height: 1;
  padding: 16px 0;
}

.hj-login-wrap > .hj-login > form button[type="submit"] span:hover {
  background-color: #fff;
  color: #000;
  border-color: #000;
}
