body {
    text-align: center;
}

#hjMainWrap {
    display: inline-block;
    max-width: 1600px;
    width: 100%;
    text-align: center;
    padding: 60px 0;
}

#hjMainWrap .hj-slide-wrap {
    position: relative;
    display: inline-block;
    max-width: 1600px;
    width: 100%;
    height: 500px;
}

#hjMainWrap .hj-slide-wrap .slick-arrow {
    position: absolute;
    top: 50%;
    margin-top: -23px;
    width: 46px;
    height: 46px;
    background-color: transparent;
    border: 0;
    font-size: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#hjMainWrap .hj-slide-wrap .slick-prev {
    left: 10px;
    background-image: url('/images/icons/left-arrow.png');

}
#hjMainWrap .hj-slide-wrap .slick-next {
    right: 10px;
    background-image: url('/images/icons/right-arrow.png');
}

#hjMainWrap .hj-slide-wrap .hj-slide-image {
    display: block;
    width: 100%;
    height: 500px;
}

#hjMainWrap .hj-slide-wrap .slick-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hjMainWrap .hj-slide-wrap .slick-dots li {
    margin-left: 12px;
}

#hjMainWrap .hj-slide-wrap .slick-dots li:first-of-type {
    margin: 0;
}

#hjMainWrap .hj-slide-wrap .slick-dots li button {
    width: 16px;
    height: 16px;
    border: 0;
    border-radius: 50%;
    background-color: rgba(220, 220, 220, 0.7);
    padding: 0;
    font-size: 0;
    transition: all .2s ease-in-out;
}
#hjMainWrap .hj-slide-wrap .slick-dots li.slick-active button {
    background-color: rgba(0,0,0,0.7);
}

#hjMainWrap .hj-slide-wrap .hj-slide-image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/*#hjMainWrap .hj-slide-wrap .hj-slide-image:nth-of-type(3n - 2) {*/
/*    background-color: gold;*/
/*}*/
/*#hjMainWrap .hj-slide-wrap .hj-slide-image:nth-of-type(3n - 1) {*/
/*    background-color: green;*/
/*}*/
/*#hjMainWrap .hj-slide-wrap .hj-slide-image:nth-of-type(3n) {*/
/*    background-color: pink;*/
/*}*/

#hjMainWrap .hj-company-abbr-wrap {
    display: inline-block;
    max-width: 1600px;
    width: 100%;
    margin-top: 100px;
}

#hjMainWrap .hj-company-abbr-wrap .hj-company-abbr-list {
    display: flex;
    align-content: center;
    margin-right: -20px;
}

#hjMainWrap .hj-company-abbr-wrap .hj-company-abbr-list li {
    margin-right: 20px;
    width: 100%;
    transition: all .25s cubic-bezier(.5,-.75,.7,2);
}

#hjMainWrap .hj-company-abbr-wrap .hj-company-abbr-list li:hover {
    transform: translateY(-20px);
}

#hjMainWrap .hj-company-abbr-wrap .hj-company-abbr-list li .hj-company-abbr {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    text-align: center;
    padding: 12px;
}

#hjMainWrap .hj-company-abbr-wrap .hj-company-abbr-list li .hj-company-abbr .hj-abbr-img {
    display: block;
    width: 100%;
    height: 160px;
    border-radius: 6px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 16px;
}

#hjMainWrap .hj-company-abbr-wrap .hj-company-abbr-list li .hj-company-abbr .hj-abbr-title {
    font-size: 18px;
    font-weight: 500;
    padding: 0 10px;
}

#hjMainWrap .hj-company-abbr-wrap .hj-company-abbr-list li .hj-company-abbr .hj-abbr-contents {
    display: block;
    font-size: 16px;
    line-height: 1.4;
    padding: 0 10px;
}

/*제품군 이미지 스타일*/
#hjMainWrap .hj-company-abbr-wrap .hj-company-abbr-list li .hj-company-abbr .main-01 {
    background-image: url("/admin/images/business-part/business-part-01/business-01.jpg");
}
#hjMainWrap .hj-company-abbr-wrap .hj-company-abbr-list li .hj-company-abbr .main-02 {
    background-image: url("/admin/images/products/dtc-133/one_2.jpg");
}
#hjMainWrap .hj-company-abbr-wrap .hj-company-abbr-list li .hj-company-abbr .main-03 {
    background-image: url("/admin/images/icons/notice.png");
}
#hjMainWrap .hj-company-abbr-wrap .hj-company-abbr-list li .hj-company-abbr .main-04 {
    background-image: url("/admin/images/icons/comerce.png");
}
#hjMainWrap .hj-company-abbr-wrap .hj-company-abbr-list li .hj-company-abbr .main-05 {
    background-image: url("/images/products/stylus/bamboo sketch gallery 4.png");
}