body {
    text-align: center;
}

#hjMainWrap {
    display: inline-block;
    max-width: 1600px;
    width: 100%;
    text-align: center;
    padding: 60px 0;
}

#hjMainWrap .hj-slide-wrap {
    position: relative;
    display: inline-block;
    max-width: 1600px;
    width: 100%;
    height: 500px;
}

#hjMainWrap .hj-slide-wrap .slick-arrow {
    position: absolute;
    top: 50%;
    margin-top: -23px;
    width: 46px;
    height: 46px;
    background-color: transparent;
    border: 0;
    font-size: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#hjMainWrap .hj-slide-wrap .slick-prev {
    left: 10px;
    background-image: url('/images/icons/left-arrow.png');

}
#hjMainWrap .hj-slide-wrap .slick-next {
    right: 10px;
    background-image: url('/images/icons/right-arrow.png');
}

#hjMainWrap .hj-slide-wrap .hj-slide-image {
    display: block;
    width: 100%;
    height: 500px;
}

#hjMainWrap .hj-slide-wrap .hj-slide-image.slide-image-01 {
    background-image: url('/images/banners/hj_illust_banner_03.jpg');
}

#hjMainWrap .hj-slide-wrap .hj-slide-image.slide-image-02 {
    background-image: url('/images/banners/wacom-one_banner.jpg');
}

#hjMainWrap .hj-slide-wrap .hj-slide-image.slide-image-03 {
    background-image: url('/images/banners/msp_banner.jpg');
}

#hjMainWrap .hj-slide-wrap .slick-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hjMainWrap .hj-slide-wrap .slick-dots li {
    margin-left: 12px;
}

#hjMainWrap .hj-slide-wrap .slick-dots li:first-of-type {
    margin: 0;
}

#hjMainWrap .hj-slide-wrap .slick-dots li button {
    width: 16px;
    height: 16px;
    border: 0;
    border-radius: 50%;
    background-color: rgba(220, 220, 220, 0.7);
    padding: 0;
    font-size: 0;
    transition: all .2s ease-in-out;
}
#hjMainWrap .hj-slide-wrap .slick-dots li.slick-active button {
    background-color: rgba(0,0,0,0.7);
}

#hjMainWrap .hj-slide-wrap .hj-slide-image {
    position: relative;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#hjMainWrap .hj-slide-wrap .hj-slide-image > a {
    position: absolute;
    color: #2997ff;
}

#hjMainWrap .hj-slide-wrap .hj-slide-image > a:hover {
    text-decoration: underline;
}

#hjMainWrap .hj-slide-wrap .hj-slide-image > a.hj-dtc-133-learn {
    right: 21%;
    bottom: 120px;
}

#hjMainWrap .hj-slide-wrap .hj-slide-image > a.hj-msp-learn {
    left: 60px;
    bottom: 120px;
}

#hjMainWrap .hj-slide-wrap .hj-slide-image > a::after {
    content: " >";
}

#hjMainWrap .hj-company-abbr-wrap {
    display: inline-block;
    max-width: 1600px;
    width: 100%;
    margin-top: 100px;
}

#hjMainWrap .hj-company-abbr-wrap .hj-company-abbr-list {
    display: flex;
    align-content: center;
}

#hjMainWrap .hj-company-abbr-wrap .hj-company-abbr-list li {
    width: 100%;
    height: 300px;
}

#hjMainWrap .hj-company-abbr-wrap .hj-company-abbr-list li:nth-of-type(1) {
    background-color: #fafafa;
}

#hjMainWrap .hj-company-abbr-wrap .hj-company-abbr-list li:nth-of-type(2) {
    background-color: #f2f2f2;
}

#hjMainWrap .hj-company-abbr-wrap .hj-company-abbr-list li:nth-of-type(3) {
    background-color: #e9e9e9;
}

#hjMainWrap .hj-company-abbr-wrap .hj-company-abbr-list li:nth-of-type(4) {
    background-color: #dadada;
}

#hjMainWrap .hj-company-abbr-wrap .hj-company-abbr-list li .hj-company-abbr {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 54px 12px 12px 64px;
}

#hjMainWrap .hj-company-abbr-wrap .hj-company-abbr-list li .hj-company-abbr .hj-abbr-img {
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 6px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#hjMainWrap .hj-company-abbr-wrap .hj-company-abbr-list li .hj-company-abbr .hj-abbr-title {
    font-size: 18px;
    font-weight: 500;
    margin-top: 18px;
    color: #333;
}

#hjMainWrap .hj-company-abbr-wrap .hj-company-abbr-list li .hj-company-abbr .hj-abbr-contents {
    display: block;
    font-size: 16px;
    line-height: 1.4;
    padding: 0 10px;
}

#hjMainWrap .hj-company-abbr-wrap .hj-company-abbr-list li .hj-company-abbr .hj-sub-abbr-content {
    display: block;
    width: 100%;
    text-align: left;
    color: #666;
    margin-top: 14px;
    line-height: 1.4;
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    word-break: keep-all;
}

/*제품군 이미지 스타일*/
#hjMainWrap .hj-company-abbr-wrap .hj-company-abbr-list li .hj-company-abbr .main-01 {
    background-image: url("/images/icons/open-book.png");
}
#hjMainWrap .hj-company-abbr-wrap .hj-company-abbr-list li .hj-company-abbr .main-02 {
    background-image: url("/images/icons/drawing-tablet.png");
}
#hjMainWrap .hj-company-abbr-wrap .hj-company-abbr-list li .hj-company-abbr .main-03 {
    background-image: url("/images/icons/megaphone.png");
}
#hjMainWrap .hj-company-abbr-wrap .hj-company-abbr-list li .hj-company-abbr .main-04 {
    background-image: url("/images/icons/counseling.png");
}
#hjMainWrap .hj-company-abbr-wrap .hj-company-abbr-list li .hj-company-abbr .main-05 {
    background-image: url("/images/products/stylus/bamboo sketch gallery 4.png");
}

/* tablet */
@media screen and (max-width: 1200px) {
    #hjMainWrap .hj-slide-wrap .slick-arrow {
        display: none !important;
    }
}

/* mobile */
@media screen and (max-width: 768px) {
    #hjMainWrap {
        max-width: 100%;
        width: 100%;
        height: 100%;
        padding: 60px 0 100px;
        margin-bottom: 200px;
    }

    #hjMainWrap .hj-slide-wrap {
        max-width: 100%;
        width: 100%;
        height: 100%;
    }
    
    #hjMainWrap .hj-slide-wrap .slick-arrow {
        display: none !important;
    }

    #hjMainWrap .hj-slide-wrap .hj-slide-image {
        background-size: cover;
        background-position: top;
    }

    #hjMainWrap .hj-company-abbr-wrap {
        max-width: 100%;
        margin-top: 40px;
    }

    #hjMainWrap .hj-company-abbr-wrap .hj-company-abbr-list {
        display: block;
        margin: 0;
        padding: 8px;
    }

    #hjMainWrap .hj-company-abbr-wrap .hj-company-abbr-list li {
        margin: 0 0 16px 0;
        transition: all .4s ease;
    }

    #hjMainWrap .hj-company-abbr-wrap .hj-company-abbr-list li:last-of-type {
        margin: 0;
    }

    /* 슬라이드 모바일 이미지 */
    #hjMainWrap .hj-slide-wrap .hj-slide-image.slide-image-01 {
        background-image: url('/images/counseling/leaflet01.jpg');
    }
    
    #hjMainWrap .hj-slide-wrap .hj-slide-image.slide-image-02 {
        background-image: url('/images/banners/wacom_one_banner_m.jpg');
    }
    
    #hjMainWrap .hj-slide-wrap .hj-slide-image.slide-image-03 {
        background-image: url('/images/banners/msp_banner_m.jpg');
    }

    /* 슬라이드 모바일 문구 */

    #hjMainWrap .hj-slide-wrap .hj-slide-image > a.hj-dtc-133-learn {
        right: 50%;
        transform: translateX(50%);
        top: 80vw;
        bottom: initial;
    }
    
    #hjMainWrap .hj-slide-wrap .hj-slide-image > a.hj-msp-learn {
        left: 50%;
        top: 60vw;
        bottom: initial;
        transform: translateX(-50%);
    }

    #hjMainWrap .hj-slide-wrap .hj-slide-image > a::after {
        content: "";
    }

    #hjMainWrap .hj-company-abbr-wrap .hj-company-abbr-list li .hj-company-abbr {
        padding: 54px 34px 12px;
    }
}