.hj-notice-board-wrap {
  width: 100%;
  text-align: center;
}

.hj-notice-board-wrap .hj-board-wrap {
  display: inline-block;
  width: 100%;
  max-width: 1600px;
}

.hj-notice-board-wrap .hj-board-wrap .hj-board-title h2 {
    display: inline-block;
    font-size: 34px;
    font-weight: 500;
    padding-bottom: 12px;
    border-bottom: 2px solid #2b478b;
    margin: 100px 0;
}

.hj-notice-board-wrap .hj-board-wrap .hj-board-list-wrap table {
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.hj-notice-board-wrap .hj-board-wrap .hj-board-list-wrap table th,
.hj-notice-board-wrap .hj-board-wrap .hj-board-list-wrap table td {
  padding: 20px 0;
}

.hj-notice-board-wrap .hj-board-wrap .hj-board-list-wrap table thead tr {
  background-color: #fcfcfc;
  border-bottom: 1px solid #ccc;
}

.hj-notice-board-wrap
  .hj-board-wrap
  .hj-board-list-wrap
  table
  thead
  tr
  th:nth-of-type(1),
.hj-notice-board-wrap
  .hj-board-wrap
  .hj-board-list-wrap
  table
  tbody
  tr
  td:nth-of-type(1) {
  padding-left: 18px;
  width: 5%;
  text-align: left;
}

.hj-notice-board-wrap
  .hj-board-wrap
  .hj-board-list-wrap
  table
  thead
  tr
  th:nth-of-type(2),
.hj-notice-board-wrap
  .hj-board-wrap
  .hj-board-list-wrap
  table
  tbody
  tr
  td:nth-of-type(2) {
  width: 80%;
  text-align: left;
}

.hj-notice-board-wrap
  .hj-board-wrap
  .hj-board-list-wrap
  table
  thead
  tr
  th:nth-of-type(3),
.hj-notice-board-wrap
  .hj-board-wrap
  .hj-board-list-wrap
  table
  tbody
  tr
  td:nth-of-type(3) {
  padding-right: 18px;
  width: 15%;
}

.hj-notice-board-wrap .hj-board-wrap .hj-board-list-wrap table tbody a:hover {
  text-decoration: underline;
}

.hj-notice-board-wrap .hj-board-wrap .hj-pagination-wrap {
  margin: 100px 0;
}

.hj-notice-board-wrap .hj-board-wrap .hj-pagination-wrap ul {
  display: inline-flex;
  max-width: 200px;
}

.hj-notice-board-wrap .hj-board-wrap .hj-pagination-wrap ul li:nth-of-type(2) {
  margin: 0 10px;
}

.hj-notice-board-wrap .hj-board-list-wrap::after {
  content: "";
  clear: both;
}

.hj-notice-create-button {
  padding: 4px 16px;
  color: #fff;
  background-color: #000;
  transition: all 0.2s ease-in-out;
  border: 1px solid #fff;
  cursor: pointer;
  margin-top: 26px;
  float: left;
}

.hj-notice-create-button:hover {
  background-color: #fff;
  color: #000;
  border-color: #000;
}
