.hj-notice-detail-wrap {
    position: relative;
    width: 100%;
    text-align: center;
}

.hj-notice-detail-wrap .hj-board-title h2 {
    display: inline-block;
    font-size: 34px;
    font-weight: 500;
    padding-bottom: 12px;
    border-bottom: 2px solid #2b478b;
    margin: 100px 0;
}

.hj-notice-detail-wrap .hj-notice-detail {
    display: inline-block;
    width: 100%;
    max-width: 1600px;
    margin-bottom: 100px;
}

.hj-notice-detail ul {
    width: 100%;
    display: inline-block;
    max-width: 1200px;
    margin-top: 104px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

.hj-notice-detail ul .hj-notice-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid #e1e1e1;
    padding: 0 16px;
    text-align: left;
}

.hj-notice-detail ul .hj-notice-top span:nth-of-type(1) {
    width: 20%;
}

.hj-notice-detail ul .hj-notice-top span:nth-of-type(2) {
    width: 60%
}

.hj-notice-detail ul .hj-notice-top span:nth-of-type(3) {
    width: 20%;
    text-align: right;
}

.hj-notice-detail ul .hj-contents-wrap {
    padding: 16px;
    width: 100%;
    min-height: 300px;
    text-align: left;
}

.hj-notice-detail ul .hj-contents-wrap img {
    margin-bottom: 60px;
}

.hj-notice-detail .hj-button-wrap {
    display: inline-block;
    max-width: 1200px;
    width: 100%;
    margin-top: 24px;
    text-align: left;
}

.hj-notice-detail .hj-button-wrap button {
    width: 80px;
    height: 40px;
    border: 1px solid #e1e1e1;
    transition: all .2s ease-in-out;
    color: #333;
}

.hj-notice-detail .hj-button-wrap #ntAdminWrap a:first-of-type button {
    margin: 0 8px;
}

.hj-notice-detail .hj-button-wrap button.hj-black {
    border-color: #000;
    color: #fff;
    background-color: #000;
}

.hj-notice-detail .hj-button-wrap button.hj-black:hover {
    background-color: #fff;
    border-color: #e1e1e1;
    color: #333;
}


.hj-notice-detail .hj-button-wrap button.hj-white:hover {
    background-color: #000;
    color: #e1e1e1;
    border-color: #000;
}

/* tablet */
@media screen and (max-width: 1200px) {
    
}

/* mobile */
@media screen and (max-width: 768px) {
    .hj-notice-detail-wrap {
        padding: 60px 8px 100px;
    }

    .hj-notice-detail-wrap .hj-board-title h2 {
        font-size: 24px;
        margin: 60px 0;
    }

    .hj-notice-detail-wrap .hj-notice-detail {
        margin-bottom: 200px;
    }

    .hj-notice-detail ul {
        margin: 0;
    }

    .hj-notice-detail ul .hj-notice-top {
        padding: 0;
        font-size: 14px;
    }

    .hj-notice-detail ul .hj-notice-top span:nth-of-type(3) {
        text-align: left;
    }

    .hj-notice-detail ul .hj-contents-wrap {
        padding: 8px 0;
        font-size: 14px;
    }

    .hj-notice-detail ul .hj-contents-wrap img {
        max-width: 100%;
    }

    .hj-notice-detail .hj-button-wrap {
        margin-top: 14px;
        font-size: 14px;
    }
}