.hj-notice-board-wrap {
  width: 100%;
  text-align: center;
}

.hj-notice-board-wrap .hj-board-wrap {
  display: inline-block;
  width: 100%;
  max-width: 1600px;
}

.hj-notice-board-wrap .hj-board-wrap .hj-board-title h2 {
    display: inline-block;
    font-size: 34px;
    font-weight: 500;
    padding-bottom: 12px;
    border-bottom: 2px solid #2b478b;
    margin: 100px 0;
}

.hj-notice-board-wrap .hj-board-wrap .hj-board-list-wrap table {
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.hj-notice-board-wrap .hj-board-wrap .hj-board-list-wrap table th {
  padding: 20px 0;
}

.hj-notice-board-wrap .hj-board-wrap .hj-board-list-wrap table td a {
  padding: 20px 0;
  display: block;
}

.hj-notice-board-wrap .hj-board-wrap .hj-board-list-wrap table thead tr {
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;
}

.hj-notice-board-wrap .hj-board-wrap .hj-board-list-wrap table thead tr th:nth-of-type(1),
.hj-notice-board-wrap  .hj-board-wrap .hj-board-list-wrap table tbody tr td:nth-of-type(1) {
  padding-left: 18px;
  width: 10%;
  text-align: left;
}

.hj-notice-board-wrap .hj-board-wrap .hj-board-list-wrap table thead tr th:nth-of-type(2),
.hj-notice-board-wrap .hj-board-wrap .hj-board-list-wrap table tbody tr td:nth-of-type(2) {
  width: 75%;
  text-align: left;
}

.hj-notice-board-wrap .hj-board-wrap .hj-board-list-wrap table thead tr th:nth-of-type(3),
.hj-notice-board-wrap .hj-board-wrap .hj-board-list-wrap table tbody tr td:nth-of-type(3) {
  padding-right: 18px;
  width: 15%;
}

.hj-notice-board-wrap .hj-board-wrap .hj-board-list-wrap table tbody tr {
  border-bottom: 1px solid #e1e1e1;
}

.hj-notice-board-wrap .hj-board-wrap .hj-board-list-wrap table tbody tr:last-of-type {
  border: 0;
}

.hj-notice-board-wrap .hj-board-wrap .hj-board-list-wrap table tbody a:hover {
  text-decoration: underline;
}

.hj-notice-board-wrap .hj-board-wrap .hj-pagination-wrap {
  margin: 100px 0;
}

.hj-notice-board-wrap .hj-board-wrap .hj-pagination-wrap .active {
  text-decoration: underline;
}

.hj-notice-board-wrap .hj-board-wrap .hj-pagination-wrap ul {
  display: inline-block;
  width: 100%;
  max-width: 200px;
}

.hj-notice-board-wrap .hj-board-wrap .hj-pagination-wrap ul li:nth-of-type(2) {
  width: 100%;
  max-width: 160px;
  margin: 0 10px;
}

.hj-notice-board-wrap .hj-board-wrap .hj-pagination-wrap ul li:nth-of-type(2) a {
  margin-left: 16px;
}

.hj-notice-board-wrap .hj-board-wrap .hj-pagination-wrap ul li:nth-of-type(2) a:first-of-type {
  margin: 0;
}

.hj-notice-board-wrap .hj-board-list-wrap::after {
  content: "";
  clear: both;
}

.hj-notice-create-button {
  padding: 4px 16px;
  color: #fff;
  background-color: #000;
  transition: all 0.2s ease-in-out;
  border: 1px solid #fff;
  cursor: pointer;
  margin-top: 26px;
  float: left;
}

.hj-notice-create-button:hover {
  background-color: #fff;
  color: #000;
  border-color: #000;
}

/* tablet */
@media screen and (max-width: 1200px) {
    
}

/* mobile */
@media screen and (max-width: 768px) {
  .hj-notice-board-wrap {
    padding: 60px 8px 100px;
  }

  .hj-notice-board-wrap .hj-board-wrap .hj-board-title h2 {
    font-size: 24px;
    margin: 60px 0;
  }

  .hj-notice-board-wrap .hj-board-wrap .hj-board-list-wrap table {
    font-size: 14px;
  }

  .hj-notice-board-wrap .hj-board-wrap .hj-board-list-wrap table thead tr th:nth-of-type(1),
  .hj-notice-board-wrap .hj-board-wrap .hj-board-list-wrap table tbody tr td:nth-of-type(1) {
    padding-left: 8px;
    width: 15%;
  }

  .hj-notice-board-wrap .hj-board-wrap .hj-board-list-wrap table thead tr th:nth-of-type(2),
  .hj-notice-board-wrap .hj-board-wrap .hj-board-list-wrap table tbody tr td:nth-of-type(2) {
    width: 55%;
  }

  .hj-notice-board-wrap .hj-board-wrap .hj-board-list-wrap table tbody tr td:nth-of-type(2) a {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    width: 100%;
    max-width: 360px;
  }

  .hj-notice-board-wrap .hj-board-wrap .hj-board-list-wrap table tbody tr td:nth-of-type(1) {padding-left: 8px;}
  .hj-notice-board-wrap .hj-board-wrap .hj-board-list-wrap table tbody tr td:nth-of-type(3) {padding-right: 8px;}

  .hj-notice-board-wrap .hj-board-wrap .hj-board-list-wrap table thead tr th:nth-of-type(3),
  .hj-notice-board-wrap .hj-board-wrap .hj-board-list-wrap table tbody tr td:nth-of-type(3) {
    padding-right: 8px;
    width: 30%;
  }

  .hj-notice-board-wrap .hj-board-wrap .hj-board-list-wrap table th {
    padding: 8px 0;
  }

  .hj-notice-board-wrap .hj-board-wrap .hj-pagination-wrap {
    margin: 80px 0 200px;
  }
}

@media screen and (max-width: 520px) {
  .hj-notice-board-wrap .hj-board-wrap .hj-board-list-wrap table tbody tr td:nth-of-type(2) a {
    max-width: 260px;
  }
}

@media screen and (max-width: 450px) {
  .hj-notice-board-wrap .hj-board-wrap .hj-board-list-wrap table tbody tr td:nth-of-type(2) a {
    max-width: 220px;
  }
}

@media screen and (max-width: 420px) {
  .hj-notice-board-wrap .hj-board-wrap .hj-board-list-wrap table tbody tr td:nth-of-type(2) a {
    max-width: 200px;
  }
}

@media screen and (max-width: 370px) {
  .hj-notice-board-wrap .hj-board-wrap .hj-board-list-wrap table tbody tr td:nth-of-type(2) a {
    max-width: 180px;
  }
}

@media screen and (max-width: 350px) {
  .hj-notice-board-wrap .hj-board-wrap .hj-board-list-wrap table tbody tr td:nth-of-type(2) a {
    max-width: 160px;
  }
}

@media screen and (max-width: 320px) {
  .hj-notice-board-wrap .hj-board-wrap .hj-board-list-wrap table tbody tr td:nth-of-type(2) a {
    max-width: 140px;
  }
}