.hj-product-detail-wrap {
  width: 100%;
  text-align: center;
  margin: 50px 0 100px;
}

.hj-product-detail-wrap .hj-product-detail {
  position: relative;
  display: inline-block;
  max-width: 1600px;
  width: 100%;
  text-align: left;
}

.hj-product-detail-wrap .hj-product-detail .hj-product-detail-button {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 1;
}

.hj-product-detail-wrap .hj-product-detail .hj-product-detail-button ul {
  background-color: green;
  display: flex;
  align-content: center;
}

.hj-product-detail-wrap .hj-product-detail .hj-product-detail-button button {
  position: relative;
  width: 200px;
  height: 70px;
  transition: all 0.2s ease-in-out;
  border-right: 1px solid #313131;
  background-color: #000;
  color: #fff;
  /* background-image: linear-gradient(to right, #e5a45a, #ffe68b, #ffe68b, #e5a45a);
  background-size: 300% 100%; */
}

.hj-product-detail-wrap .hj-product-detail .hj-product-detail-button span {
  transition: all 0.2s ease-in-out;
  color: #707070;
  font-size: 20px;
}

.hj-product-detail-wrap
  .hj-product-detail
  .hj-product-detail-button
  button:hover {
  /* background-position: 100% 0; */
  background-color: #2b478b;
}

.hj-product-detail-wrap
  .hj-product-detail
  .hj-product-detail-button
  button:hover
  span {
  color: #fff;
}

.hj-product-detail-wrap
  .hj-product-detail
  .hj-product-detail-button
  ul
  li:last-of-type
  button {
  border: 0;
}

.hj-product-detail-wrap .hj-product-detail .hj-product-content-wrap {
  display: inline-block;
  max-width: 1600px;
  width: 100%;
  height: auto;
  padding-top: 60px;
}

.hj-product-detail-wrap
  .hj-product-detail
  .hj-product-content-wrap
  .hj-product-text {
  position: absolute;
  left: 60px;
  top: 60px;
  font-size: 44px;
  font-weight: bold;
  color: #fff;
  line-height: 1.4;
}

.hj-product-detail-wrap
  .hj-product-detail
  .hj-product-content-wrap
  .hj-product-image {
  width: 100%;
  height: 100%;
  border-top: 1px solid #ccc;
}

.hj-product-detail-wrap .hj-product-detail .hj-product-content-wrap .smartpad {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 700px;
  background-image: url("/images/products/smartPad/bamboo-slate-gallery-1-g.png");
}

.hj-page-in-slide-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hj-page-in-slide-wrap > li {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

.hj-page-in-slide-wrap > li.hj-show {
  opacity: 1;
  visibility: visible;
}

.hj-page-slide-button.slick-dots {
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hj-page-slide-button.slick-dots.slick-dots-fixed {
  position: fixed;
  top: 60px;
  display: flex;
  align-items: center;
  z-index: 1;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.8);
}

.hj-page-slide-button.slick-dots.slick-dots-fixed li {
  width: 100%;
}

.hj-page-slide-button.slick-dots.slick-dots-fixed.position-move {
  top: 230px;
}

.hj-page-slide-button.slick-dots li {
  /* width: 16.66666666666667%; */
  width: 100%;
  height: 60px;
}

.hj-page-slide-button.slick-dots li button::after {
  font-size: 20px;
}

.hj-page-slide-button.slick-dots li button {
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-in-out;
  background-color: #fff;
  color: #707070;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.hj-page-slide-button.slick-dots.slick-dots-fixed li button {
  border-top: 0;
}

.hj-page-slide-button.slick-dots li:last-of-type button {
  border-right: 1px solid #ccc;
}

.hj-page-slide-button.slick-dots li.hj-active button {
  background-color: #009ffd;
  color: #fff;
  border-color: #009ffd;
}

@media screen and (min-width: 1200px) {
  .hj-page-slide-button.slick-dots li:hover button {
    background-color: #009ffd;
    color: #fff;
    border-color: #009ffd;
  }
}

.hj-page-detail-image {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.hj-page-detail-image.hj-ready-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  background-color: #999;
  color: #222;
  font-size: 32px;
}

.hj-product-image .hj-move-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  bottom: 300px;
  right: 50px;
  width: 44px;
  height: 44px;
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  text-align: center;
  font-size: 12px;
  transition: all 0.2s ease-in-out;
}

.hj-product-image .hj-move-top:hover {
  background-color: #fff;
}

.hj-product-image .hj-move-top:hover span {
  color: #222;
}

.hj-product-image .hj-move-top span {
  color: #fff;
}

.hj-product-spec-table {
  display: inline-table;
  width: 1000px;
  text-align: left;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

.hj-m-table {
  display: none;
}

.hj-product-spec-table tr {
  border-bottom: 1px solid #e1e1e1;
}

.hj-product-spec-table tr:last-of-type {
  border-bottom: 0;
}

.hj-product-spec-table th {
  padding: 14px 20px;
  background-color: #ccc;
  font-weight: 500;
}

.hj-product-spec-table .hj-table-main-header th {
  width: 25%;
  background-color: #e8323e;
  color: #fff;
}

/* 인튜어스 프로 */
.hj-product-spec-table .hj-table-main-header.hj-table-intuos-pro th {
  width: 16.6%;
}

/* 인튜어스 */
.hj-product-spec-table .hj-table-main-header.hj-table-intuos th {
  width: 20%;
}

/* 신티크 */
.hj-product-spec-table .hj-table-main-header.hj-table-cintiq th {
  width: 40%;
}

/* 신티크 프로 */
.hj-product-spec-table .hj-table-main-header.hj-table-cintiq-pro th {
  width: 20%;
}

.hj-product-spec-table .hj-table-main-header th:nth-of-type(1) {
  width: 20%;
}

/* 인튜어스 프로 */
.hj-product-spec-table .hj-table-main-header.hj-table-intuos-pro th:nth-of-type(1) {
  width: 16.6%;
}

/* 인튜어스 */
.hj-product-spec-table .hj-table-main-header.hj-table-intuos th:nth-of-type(1) {
  width: 20%;
}

/* 신티크 */
.hj-product-spec-table .hj-table-main-header.hj-table-cintiq th:nth-of-type(1) {
  width: 20%;
}

/* 신티크 프로 */
.hj-product-spec-table .hj-table-main-header.hj-table-cintiq-pro th:nth-of-type(1) {
  width: 20%;
}

.hj-product-spec-table td {
  padding: 14px 20px;
  background-color: #fff;
  line-height: 1.6;
  border-right: 1px solid #e1e1e1;
  
}

/* tablet */
@media screen and (max-width: 1200px) {
    
}

/* mobile */
@media screen and (max-width: 768px) {
  .hj-page-slide-button.slick-dots {
    font-size: 14px;
    z-index: 1;
  }

  .hj-page-slide-button.slick-dots li button {
    border-top: 0;
    border-bottom: 1px solid #ccc;
  }

  .hj-page-slide-button.slick-dots li:first-of-type button {
    border-left: 0;
  }

  .hj-page-slide-button.slick-dots li:last-of-type button {
    border-right: 0;
  }

  .hj-product-detail-wrap {
    margin: 0;
    padding: 60px 0 100px;
  }

  .hj-product-detail-wrap .hj-product-detail {
    padding-top: 60px;
  }

  .hj-product-detail-wrap .hj-product-detail .hj-product-content-wrap {
    padding-top: 0;
  }

  .hj-product-detail-wrap .hj-product-detail .hj-product-content-wrap .hj-product-image {
    border: 0;
  }

  .hj-page-in-slide-wrap > li {
    position: relative;
    left: 0;
    transform: none;
    opacity: 1;
    visibility: visible;
    height: 100%;
    width: 100%;
  }

  .hj-page-in-slide-wrap > li:first-of-type {
    padding-top: 400px;
  }

  .business-part-wrap > li:first-of-type {
    padding-top: 60px;
  }

  .hj-page-in-slide-wrap > li img {
    width: 100%;
  }

  .hj-page-in-slide-wrap {
    width: 100%;
    margin-bottom: 200px;
    padding: 0 8px;
  }

  .hj-product-image .hj-move-top {
    right: 10px;
    bottom: 20%;
    z-index: 10;
  }

  .hj-page-detail-image.hj-ready-image {
    position: absolute;
  }

  .hj-product-spec-table {
    display: none;
  }

  .hj-m-table {
    display: table;
    text-align: left;
    font-size: 14px;
    border-bottom: 1px solid #000;
    line-height: 1.5;
  }

  .hj-m-table tr {
    border-bottom: 1px solid #e1e1e1;
  }

  .hj-m-table tr:first-of-type th {
    background-color: #e8323e;
    color: #fff;
  }

  .hj-m-table tr:last-of-type {
    border-bottom: 0;
  }

  .hj-m-table th {
    font-weight: bold;
    padding: 10px 8px 10px;
    width: 30%;
  }

  .hj-m-table td {
    padding: 10px 0;
  }
}